*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.main{
    height: 100vh;
    top: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    display: flex;
    width: 100%;
}
.row{
    align-items: center;
    justify-content: center;
    gap: 30px;
    display: flex;
    flex-wrap: wrap;
}
.box{
    width: 260px;
    height: 260px;
    background-color: red;
}
@media (max-width: 835px) {
    .main{
        display: flex;
    align-items: center;
    justify-content: center;
        width: 836px;
    }
    .row{
        display: flex;
    align-items: center;
    justify-content: center;
    }
    .box{
        background-color: greenyellow;
    }
}
@media (max-width: 324px) {
    .main{
       
        display: flex;
    align-items: center;
    justify-content: center;
        width: 324px;
    }
    .row{
        display: flex;
    align-items: center;
    justify-content: center;
    }
    .box{
        background-color: blue;
    }
}
@media (max-width: 224px) {
    .main{
       
        display: flex;
    align-items: center;
    justify-content: center;
        width: 224px;
    }
    .row{
        display: flex;
    align-items: center;
    justify-content: center;
    }
    .box{
        background-color: black;
    }
}